@import url("../fonts/Reckless.otf");

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Reckless, serif;
    /* scroll-behavior: smooth; */

}

@media screen and (max-width:1640px){


    body{

        background-color: rgb(255, 255, 255);
    }
    .container{

        position: relative;
    }
    header{

        display: flex;
        flex-flow: row nowrap;
        height: 90px;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        position: sticky;
        top: 0;
        z-index: 100;
        transition: 0.3s ease-in-out;
    }
    
    .hamburger{

        margin: 45px 0 0 30px ;
        

    }
    .line{

        background-color: black;
        height: 3px;
        width: 30px;

    }
    .line::before, .line::after{
    
        content: '';
        position: absolute;
        background-color: black;
        height: 3px;
        width: 30px;
    
    }  
     .line::before{

        transform: translateY(-8px);

    }
     .line::after{

        transform: translateY(8px);

    }
    .logo{

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

    }
    .logo h1{

        font-size: 35px;
        display: inline-block;
        font-family: serif;
    }
    .logo p{

        font-family:  sans-serif;
        padding: 35px 40px 30px 40px;
        font-size: 11px;
        text-align: center;
    }
    .cart{

        border: 3px solid black ;
        border-top: none;
        width: 25px;
        height: 20px;
        margin: 40px 40px 0 0px ;
    }
    .main_container{

        width: 100%;
    }
    .left_nav{

        background-color: #EFEEE9;
        width: 50%;
        height: 100%;
        padding: 3rem 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 100;
        display: none;
    }

    .cross{

        float: right;
        cursor: pointer;
    }
    .diagonal{

        background-color: transparent;
        height: 3px;
        width: 30px;
        

    }
    .diagonal::before, .diagonal::after{
    
        content: '';
        position: absolute;
        background-color: black;
        height: 3px;
        width: 30px;
    
    }  
     .diagonal::before{

        transform: rotate(45deg) translate(5px,-5px);

    }
     .diagonal::after{

        transform: rotate(-45deg) translate(5px,5px);

    }
    .left_nav ul{

        list-style: none;
        padding: 20px 0 20px 0;
    }
    .left_nav ul li{

        padding: 2rem  0 0 0;

    }

    .left_nav ul li ul{
    
        padding: 0 0 0 1.5rem;
    }
    .left_nav ul li a{

        text-decoration: none;
        font-size: 18px;
        font-family: sans-serif;
        color: #141414;
        font-weight: bold;
        
    }
    hr{

        margin: 30px 0;
        border-width: 1px;
        border-color: black;
    }
    .left_search{

        width: 100%;
        border-bottom: 2px solid black;
        margin: auto;
        margin: 60px 0 20px 0;
    }
    .left_search input[type=search]{

        width: 90%;
        border: none;
        background-color: transparent;
        padding: 5px 0;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        color: black;

    }
    .left_search input[type=search]::placeholder{
    
        font-size: 18px;        
        color: black;

    }
    .left_search input[type=search]:focus{

        outline: none;

    }
    .left_nav img{

        margin: 30px 20px 0 0;
        width: 24px;
        height: 24px;
        
    }

    .right_nav{

        background-color: #EFEEE9;
        width: 30%;
        height: 100%;
        padding: 2rem 1.5rem;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        display: none;
    }
    .inline_cart{

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .right_nav h2,p{

        font-family: sans-serif;
    }
    
    .slide_container{

        padding: 0;
        margin: 0;
        width: 98%;
        margin: auto;
    }

    .slide{

        width: 100%;
        position: relative;

        
    }
    .slide .text_on_img{

        position: absolute;
        right: 5rem;
        top: 5rem;
        color: white;
        text-align: right;

    }
    .text_on_img p{

        font-size: 16px;
    }
    .text_on_img h1{

        font-size: 26px;
        font-weight: normal;
        padding: 10px 0;
    }
    .text_on_img button{

        background-color: white;
        border: none;
        padding: 10px 25px;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: bold;

    }

    .slide img{

        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;
    }

    .main_text{

        padding: 60px 0 60px 0;
        color: #a79b88;
        width: 80%;
        font-size: 30px;
        margin: auto;
        text-align: center;
        font-family: serif;

    }
    .wrap_container{

        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        margin: 0;
        width: 98%;
        margin: auto;

    }
    .left_image{

        width: 50%;

    }
    .left_image img{

        width: 100%;
        height: 90%;
    }
    .right_text{

        width: 50%;
        padding: 15px;
        width: 45%;
        margin: auto;
    }
    .right_text p span{

        color: black;
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .right_text h1{

        color: #A59C8C;
        padding: 10px 0 0 0;
        font-size: 60px;
        font-weight: bold;
        font-family: serif;

    }
    .right_text ul{

        padding: 30px;
        font-family: sans-serif;
        list-style: none;

    }
    .right_text ul li::before{
        content: '√';
        color: gray;
        padding: 0 7px 0 0px;

    }
    .right_text ul li{

        padding: 10px 0 10px 10px;
        font-size: 18px;


    }
    .right_text p:nth-child(4){

        font-size: 20px;
        padding: 10px 0 30px 0 ;

    }
    .right_text #btn1{

        border: 0.5px solid #BBB5A9;
        color: #BBB5A9;
        width: 100%;
        padding: 20px 0;
        background-color: white;
        font-weight: bold;
        margin: 30px 0 0 0;


    }
    .right_text #btn2{

        border: 0.5px solid #BBB5A9;
        color: #BBB5A9;
        width: 100%;
        padding: 20px 0;
        background-color: #F2F0ED;
        font-weight: bold;
        margin: 30px 0;


    }

    /* Discover Section */


    .discover_container{

        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-evenly;
        position: relative;

    }

    .discover_container .img_div{

        width: 48%;

    }

    .discover_container .img_div img{

        width: 100%;



    }

    .discover_container .image_text {
        position: absolute;
        top: 0;
        width: 48%;
        text-align: center;
        padding: 50px 0 0 0;
      
    }
 

    .discover_container .image_text h1{

        font-size: 26px;
        font-family: serif;
        font-weight: normal;
        color: white;


    }


    /* Simple Rutin Section */

    .simple_container{

        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-around;
    }

    .simple_container div{

        width: 31%;
    }
    .simple_container div img{

        width: 100%;
    }

    .simple_container .simple_text{

        padding: 0px 0 40px 0;
        width: 70%;
        margin: auto; 
        text-align: center;       
    }

    .simple_text h1{

        color: #B6AEA1;
        font-size: 40px;
        margin: 20px 0 0 0;
    }

    .simple_text a{

        color: black;
        font-size: 18px;
        
    }
    .simple_text a span{

        display: block;
        margin: 20px 0 0 0;
        font-family: serif;
    }
    .simple_text p{

        font-size: 19px;
        margin: 10px 0 0 0 ;

    }

    /* Reviews */

    .reviews{

        background-color: #F2F0ED;
        width: 98%;
        margin: auto;
    }

    .reviews h1{


        font-family: sans-serif;
        font-size: 24px;
        letter-spacing: 1.5px;


    }

    /* .reviews_container{

    } */

    .reviews_slider{

        padding: 20px 0 ;

    }

    .reviews_slide{

        text-align: center;

    }
    .reviews_slide img{

        width: 30%;
        margin: auto;
        padding: 15px 0;
    }

    .reviews_slide h3{

        padding: 15px 0;
    }
    .reviews_slide p{

        width: 80%;
        margin: auto;
        font-size: 19px;

    }
    .reviews_slide p:nth-child(4){

        padding: 50px 0 0 0;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 16px;


    }
    .reviews_slide p span{

        font-size: 17px;
        font-weight: bold;
        font-family: sans-serif;


    }
    #slick-slide-control10::before{

        font-size: 14px; 
    }
    #slick-slide-control11::before{

        font-size: 14px;
    }
    #slick-slide-control12::before{

        font-size: 14px;
    }

    /* Seen In */
    .seen h1{


        font-family: sans-serif;
        font-size: 24px;
        word-spacing: 1.5px;


    }
    .seen_slider{

        padding: 30px 0;
    }
    .seen_slide{

        text-align: center;
    }
    .seen_slide h1{

        padding: 15px 0;
        font-size: 35px;
        font-family: serif;
        transform: scale(.9,2);
        letter-spacing: 4px;

    }
    .seen_slide a{

        display: block;
        text-decoration: none;
        color: black;
        padding: 15px 0;
        font-weight: bold;

    }
    .seen_slide a span{

        font-size: 17px;

    }
    .seen_slide p{

        width: 75%;
        margin: auto;
        font-size: 19px;

    }

    #slick-slide-control20::before{

        font-size: 14px;
    }
    #slick-slide-control21::before{

        font-size: 14px;
    }
    #slick-slide-control22::before{

        font-size: 14px;
    }

    /* @om_se_me */

    .omse p{

        font-size: 25px;

    }
    .omse_container{

        display: flex;
        flex-flow: row nowrap;
        width: 98%;
        justify-content: space-evenly;
        margin: auto;


    }
    .omse_img{

        width: 24%;

    }
    .omse_img img{

        width: 100%;
    }

    /* Footer */

    /* footer{

        

    } */

    .footer_container{

        background-color: black;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    .links{

        width: 35%;
        padding: 30px 0;
    }
    .links ul{

        padding: 30px;
        list-style: none;

    }
    .links ul li{

        padding: 12px 0;
    }
    .links ul li a{

        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-size: 18px;


    }
    .links img{

        margin: 20px 010px 0px 10px;
        width: 24px;
        height: 24px;
        
    }

    .contact{

        width: 65%;
        color: white;
        padding: 30px 0;

    }
    .contact .search{

        width: 50%;
        border: none;
        border-bottom: 1px solid white;
        margin: 30px 0;
    }
    .contact input[type=search]{

        background-color: black;
        border: none;
        font-family: sans-serif;
        color: white;
        font-size: 18px;
        padding: 10px 0;
        width: 80%;

    }
    .contact input[type=search]::placeholder{

        color: white;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 2px;
        border: none;
        
    }
    .contact input[type=search]:focus ,input[type=email]:focus {

        outline: none;
    }
  
   
    .copyright{

        padding: 50px 0;
        font-size: 17px;
        color: #6D6D6D;
        font-family: sans-serif;

    }
    .contact .email{

        width: 50%;
        border: none;
        border-bottom: 1px solid white;
        margin: 30px 0;
    }
    .contact input[type=email]{

        background-color: black;
        border: none;
        color: white;
        padding: 10px 0;
        font-size: 18px;
        font-family: sans-serif;
        width: 80%;


    }
    .contact input[type=email]::placeholder{

        color: white;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 2px;
        border: none;

    }
   

    .payment-method{

        width: 90%;
        text-align: center;
        margin: auto;
        padding: 30px 0;
    }

  


    #chat{

        position: fixed;
        right: 3rem;
        bottom: 2rem;
        z-index: 100;
    }
}
@media screen and (max-width:1000px){

    .slide_container{
    
        width: 100%;
    }
    .slide{
        width: 100%;

    }
    .right_nav{

        width: 40%;
    }
    .left_image img{

        width: 100%;
        height: 80%;
    }
  
    .links{

        width: 40%;
    }
    .contact{

        width: 60%;
    }
}
@media screen and (max-width:800px){

    .logo h1{

        font-size: 22px;
        margin: 0;
        padding: 0;
    }
    .logo p{

        font-size: 10px;
        padding: 0 20px 0 20px;
        margin: 0;
    }

    .slide .text_on_img{

        position: absolute;
        right: 2.5rem;
        top: 3rem;
        color: white;
        text-align: right;

    }
    .text_on_img p{

        font-size: 15px;
    }
    .text_on_img h1{

        font-size: 22px;
        font-weight: normal;
        padding: 8px 0;
    }
    .text_on_img button{

        background-color: white;
        border: none;
        padding: 10px 20px;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: bold;

    }


    .left_nav{

        width: 70%;
    }
    .right_nav{

        width: 50%;
    }
    .wrap_container{
    
        flex-flow: column nowrap;
        
    }
    .left_image{


        width: 85%;
        margin: auto;

    }
    .left_image img{

        width: 100%;
    }
    .right_text{

        width: 90%;
        padding: 15px;
        margin: auto;

    }
    .right_text ul{

        padding-left: 0px;

    }
  
     /* Discover Section */

     .discover_container{

        flex-flow: column nowrap;
        
     }

     .discover_container .img_div{

        width: 100%;
        position: relative;

     }

     .discover_container .image_text{

        width: 100%;
        padding: 60px 0 0 0;


     }
     .discover_container .image_text h1{

        font-size: 40px;
     }

    /* Simple Rutin Section */


    .simple_container div{

        width: 95%;
    }
    .simple_container div img{

        width: 100%;
        margin: auto;
        
    }
   
     /* Reviews */

     #slick-slide-control12::before{

        font-size: 14px; 
    }
    #slick-slide-control13::before{

        font-size: 14px;
    }

    #slick-slide-control14::before{

        font-size: 14px;
    }

    #slick-slide-control23::before{

        font-size: 14px;
    }
    #slick-slide-control24::before{

        font-size: 14px;
    }

    /* omse */

    .omse_container{

        flex-flow: row wrap-reverse;
        width: 98%;


    }
    .omse_img{

        width: 48%;

    }
    .omse_img img{

        width: 100%;
    }


    /* Footer */
    .links{

        width: 100%;
        text-align: center;
        margin: auto;
    }
    .contact{

        width: 100%;
        margin: auto;   
     }

     .copyright{
         text-align: center;
     }
     .contact .search, .contact .email{

        width: 80%;
        margin: auto;
     }
     .contact input[type=search], .contact input[type=email]{

        width: 100%;
        text-align: center;
        font-size: 16px;
     }

}

@media screen and (max-width:500px){

    .hamburger{
        margin: 40px 0 0 10px;
    }
    .cart{

        margin: 30px 10px 0 0px;

    }
    .logo h1{

        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    .logo p{

        font-size: 8px;
        padding: 5px 10px 0 10px;
        margin: 0;
    }
    .left_nav{

        width: 100%;
    }

    .slide .text_on_img{

        position: absolute;
        right: 1.5rem;
        top: 2rem;
        color: white;
        text-align: right;

    }
    .text_on_img p{

        font-size: 14px;
    }
    .text_on_img h1{

        font-size: 16px;
        font-weight: normal;
        padding: 4px 0;
    }
    .text_on_img button{

        background-color: white;
        border: none;
        padding: 5px 15px;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;

    }


    .right_nav{

        width: 100%;
    }
    .main_text{

        width: 90%;
        font-size: 22px;
    }
    .left_image{


        width: 95%;
        margin: auto;

    }
    .right_text{

        width: 100%;
        padding: 15px;
    }

    .right_text p span{

        font-size: 12px;

    }
    .right_text h1{

        font-size: 40px;

    }
    .right_text ul li{

        font-size: 16px;
    }

    .right_text p:nth-child(4){
    
        font-size: 16px;
    }
   

    .discover h1:nth-child(1){

        font-size: 16px;
    }
    .discover_container .image_text h1{

        font-size: 20px;
     }

     /* omse */

     .omse_container{

        flex-flow: column nowrap;
        width: 100%;


    }
    .omse_img{

        width: 100%;

    }
 

    .contact input[type=search]::placeholder,.contact input[type=email]::placeholder{

       font-size: 14px;

     }

     #chat{

        bottom: 1rem;
        right: 1rem;
     }
    
}

